@font-face {
  font-family: "iconfont"; /* Project id 2550043 */
  src: url('iconfont.woff2?t=1621170063578') format('woff2'),
       url('iconfont.woff?t=1621170063578') format('woff'),
       url('iconfont.ttf?t=1621170063578') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duigou:before {
  content: "\e60a";
}

.icon-icon1:before {
  content: "\e630";
}

.icon-weixin:before {
  content: "\e665";
}

