@font-face {
  font-family: "iconfont"; /* Project id 2550043 */
  src: url('iconfont.woff2?t=1621517765108') format('woff2'),
       url('iconfont.woff?t=1621517765108') format('woff'),
       url('iconfont.ttf?t=1621517765108') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zanting:before {
  content: "\e638";
}

.icon-kaishi:before {
  content: "\e74f";
}

.icon-jiantou_shangyiye:before {
  content: "\eb06";
}

.icon-jiantou_xiayiye:before {
  content: "\eb07";
}

.icon-daka:before {
  content: "\e629";
}

.icon-jiangpaipaiming:before {
  content: "\e628";
}

.icon-paiming:before {
  content: "\e653";
}

.icon-shouye-yuanshijituantubiao:before {
  content: "\e616";
}

.icon-ziyuan:before {
  content: "\e614";
}

.icon-wode:before {
  content: "\e639";
}

.icon-duigou:before {
  content: "\e60a";
}

.icon-icon1:before {
  content: "\e630";
}

.icon-weixin:before {
  content: "\e665";
}

