header {
    padding: 20px;
    background: url("../imgs/bg.jpg") no-repeat;
    background-size: 100%;
    .headPortrait {
        height: 114px;
        width: 114px;
        margin-right: 15px;
        border-radius: 50%;
        border: 3px solid #4294FF;
        overflow: hidden;
        img{
            width: 114px;
        }
    }

    .userName {
        flex: 1;
        line-height: 120px;
    }
    .vipIcon{
        left: 110px;
        top: 110px;
        width: 45px;
        height: 22px;
        line-height: 20px;
        background: url("../imgs/vipicon.png") no-repeat;
        background-size: 100%;
    }
}
// 上传头像
#fileBtn{
    display: none;
}
// 主体
main {
    background: #E8E8E8;
    padding-bottom: 100px;


}

// 标题

main .title {
    justify-content: space-between;

    .arrows {
        width: 12px;
        height: 12px;

        transform: rotateZ(-45deg);
        border-right: 1px solid #4294FF;
        border-bottom: 1px solid #4294FF;
    }
    i{
        font-size: 18px;
        color: #4294FF;
    }
}

// 运动数据
main .sportsData {
    padding: 20px;
    height: 150px;
    background: #fff;

    // 数据
    .allSport {
        padding: 0 10px;
        border-right: 1PX dotted #000;
    }

    .weekSport {
        padding: 0 10px;
    }
}

// 我的运动徽章
main .myBadge {
    padding: 20px;
    background: #fff;

    .badgeBox {
        justify-content: space-between;

        .badgeBoxItem {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            
        }
    }
}
// 退出登录
main .logout{
    background: #fff;
    width: 100%;
    line-height: 55px;
}